@import "./design-tokens.css";
@import "tailwindcss";

@theme {
  --font-serif: var(--font-serif);
  --font-sans: var(--font-sans);

  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --base-background: var(--background);
  --base-foreground: var(--foreground);
}

@layer base {
  body {
    background: var(--background);
    color: var(--foreground);
    @apply antialiased scroll-smooth;
  }

  h1,
  h2,
  h3,
  h4 {
    font-family: var(--font-serif);
    @apply font-semibold;
  }
}

@layer components {
  .btn-classic {
    @apply px-10 py-3 bg-[#3e2723] text-[#fdfaf6] rounded-none font-serif italic tracking-wide transition-all duration-300 hover:bg-[#2a4d45] border border-[#9a7d45]/30 shadow-sm flex items-center gap-3;
  }

  .nav-link {
    @apply text-slate-700/80 hover:text-[#3e2723] transition-colors font-serif italic text-lg relative after:content-[''] after:absolute after:bottom-[-2px] after:left-0 after:w-0 after:h-[1px] after:bg-[#3e2723] after:transition-all hover:after:w-full cursor-pointer;
  }
}